# Introduction to Data Science
## Homework 1: Due Midnight, March 4th. 1/3 of a Grade Deducted for each day late

Student Name: 

Student Netid: 
***

### Part 1: Case study
- Read [this article](http://www.nytimes.com/2012/02/19/magazine/shopping-habits.html) in the New York Times.
- Use what we've learned in class and from the book to describe how one could set Target's problem up as a predictive modeling problem, such that they could have gotten the results that they did.  Formulate your solution as a proposed plan using our data science terminology.  Include all the aspects of the formulation that you see as relevant to solving the problem.  Be precise but concise.

In [31]:
#The main objective of the Target is to change the shopping behaviour of the consumers, and make an impression among 
them that Taget is the only store, and persuade people to buy everything from Target. At present, people have 
associated Target only with certain supplies like Cleaning supplies, six months toilet paper and so on. But if some one
has to buy lets say grocery, they won't go to Target though its available at Target, but people instead go to grocery 
store, for toy, toy store and so on. So Target wants to change this impression. 

#Now Target approach towards this is to learn the consumers' shopping behaviour and identify those unique moments in 
consumers' lives when their shopping habits become particularly flexible and the right advertisement or coupon would 
cause them to begin spending in new ways and change their behaviour. Target believes that one of the such important 
event in consumers' lives is when they are about to become parents.

#Now the predictive modeling problem could here be to find an algorithm which tells or classify if the women is 
pregnent or not. If Target can predicit this, then they can drastically change the consumers' shopping behaviour, 
and send the offers and coupon their cusomtes' at the right time when there is a high probability that they will use 
them. 

#The possible features for this precidction could be how often women buy cereals, if there has been any change in the 
consumption of the alcoholic products, if women starts buying maternal clothes, these can be the possible features or
attributes which the Target can keep track of and associate them with some variables called features. Based on these 
features, they can use Decision tree as it comes under binary classification problem and since the daata collected 
will be in textual format, decion tree can give the best prediction if the women is pregnant or not.

SyntaxError: invalid syntax (<ipython-input-31-b1a5d34b9443>, line 2)

Place your answer here!

### Part 2: Dealing with messy data
Not all data you will deal with is going to be clean. In fact, much of it will be very messy! For example, we have the HTML page that lists the contributors to Facebook's [osquery](https://github.com/facebook/osquery) project that is hosted on [Github.com](https://github.com). In this case, all we are interested in are the contributors and how many commits each of them has. Given the HTML page in `"data/osquery_contributors.html"` you will sift through tons of irrelevant data so that you can build a useful data structure.

Notice that the first six (out of 59 total) contributors are named "theopolis", "marpaia", "javuto", "jedi22", "unixist", and "mofarrell". They have 553, 477, 104, 49, 30, 25 commits respectively.

![Screenshot](images/osquery_contributors.png)

To get a better of understanding of how this data is stored in the file, try searching through the raw data file for these usernames to look for any patterns. Your final dictionary should have 59 elements!

1\. Turn this data into a Python dictionary called `contributors` where the keys are the contributor names and the values are the number of commits that each contributor has.

In [1]:
import re
contributors = dict()
keys=[]
values=[]
rawList=[]
#read the html file
with open('/Users/amanmahato/Desktop/DataScienceCourse/ipython/hw/hw_1/data/osquery_contributors.html','r') as fp:
    for line in fp:
        matchKey = re.search(r'author=?([^&"]+)', line) # extract everything it finds in between 'author=' and '"'
        if matchKey:
            keys.append(matchKey.group(1)) # store it in list "keys" if matchKey is not none
        matchKeyValue = re.search(r'author=?([^&<]+)', line) # extract everything it finds in between 'author=' and '<'
        if matchKeyValue:
            rawList.append(matchKeyValue.group(1))# store it in "rawList" keys if matchKey is not none
for indivElement in rawList:
        indivCommitNumber=re.findall(r'\b\d+\b', indivElement) #extract all the numbers from the list elements
        values.extend(indivCommitNumber)
contributors = dict(zip(keys, values))  #finally forming the dictionary with corresponding key value pair        
print (contributors)

{'theopolis': '553', 'marpaia': '477', 'javuto': '104', 'jedi22': '49', 'unixist': '30', 'mofarrell': '25', 'sharvilshah': '23', 'lwhsu': '22', 'wxsBSD': '20', 'polachok': '14', 'zwass': '14', 'eastebry': '9', 'maus-': '9', 'vmauge': '8', 'astanway': '6', 'maclennann': '6', 'blakefrantz': '6', 'akshaydixi': '5', 'arirubinstein': '4', 'cdown': '4', 'deniszh': '3', 'achmiel': '3', 'brandt': '3', 'nlsun': '3', 'mimeframe': '3', 'mgoffin': '2', 'mathieuk': '2', 'ga2arch': '2', 'glensc': '2', 'jreese': '2', 'Anubisss': '2', 'timzimmermann': '2', 'jamesgpearce': '2', 'schettino72': '2', 'castrapel': '2', 'mlw': '2', 'apage43': '1', 'SimplyAhmazing': '1', 'quad': '1', 'yannick': '1', 'blackfist': '1', 'DavidGosselin': '1', 'ecin': '1', 'arubdesu': '1', 'yetanotherhacker': '1', 'rjeczalik': '1', 'larzconwell': '1', 'justintime32': '1', 'alex': '1', 'vlajos': '1', 'dreid': '1', 'kost': '1', 'mtmcgrew': '1', 'tburgin': '1', 'mark-ignacio': '1', 'shawndavenport': '1', 'jacknagz': '1', 'd0ugal': '1', 'stevenhilder': '1'}

### Part 3: Dealing with data Pythonically

In [2]:
# You might find these packages useful. You may import any others you want!
import pandas as pd
import numpy as np

1\. Load the data set `"data/ads_dataset.tsv"` into a Python Pandas data frame called `ads`.

In [4]:
# Place your code here
ads=pd.read_table('/Users/amanmahato/Desktop/DataScienceCourse/ipython/hw/hw_1/data/ads_dataset.tsv')
ads

,isbuyer,buy_freq,visit_freq,buy_interval,sv_interval,expected_time_buy,expected_time_visit,last_buy,last_visit,multiple_buy,multiple_visit,uniq_urls,num_checkins,y_buy
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,106,106,0,0,169,2130,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,72,72,0,0,154,1100,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,5,5,0,0,4,12,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,6,6,0,0,150,539,0
NaN,0,NaN,2,0.0,0.500000,0.0,-101.149300,101,101,0,1,103,362,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,42,42,0,0,17,35,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,42,42,0,0,42,110,0
NaN,0,NaN,2,0.0,29.791670,0.0,-106.188300,121,121,0,1,101,401,0
NaN,0,NaN,3,0.0,45.479170,0.0,-34.144730,64,64,0,1,100,298,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,13,13,0,0,53,247,0
NaN,1,1.0,2,0.0,0.958333,0.0,-20.671200,21,21,0,1,65,175,0
NaN,0,NaN,2,0.0,21.333330,0.0,-108.323000,118,118,0,1,163,891,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,151,151,0,0,24,198,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,19,19,0,0,16,48,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,81,81,0,0,32,177,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,68,68,0,0,64,305,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,36,36,0,0,76,163,0
NaN,0,NaN,2,0.0,15.958330,0.0,-6.683471,14,14,0,1,101,1105,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,19,19,0,0,30,76,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,70,70,0,0,168,1317,0
NaN,0,NaN,2,0.0,27.250000,0.0,-124.610000,138,138,0,1,172,828,0
NaN,0,NaN,2,0.0,133.125000,0.0,50.474090,16,16,0,1,67,396,0
NaN,0,NaN,3,0.0,8.395833,0.0,2.534722,3,3,0,1,146,398,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,9,9,0,0,-1,26,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,145,145,0,0,179,1215,0
NaN,0,NaN,8,0.0,15.994050,0.0,12.569260,1,1,0,1,64,167,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,39,39,0,0,165,3883,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,34,34,0,0,96,219,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,135,135,0,0,143,1011,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,77,77,0,0,81,219,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,6,6,0,0,0,182,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,44,44,0,0,84,139,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,85,85,0,0,169,276,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,49,49,0,0,18,45,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,30,30,0,0,53,506,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,10,10,0,0,109,1131,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,77,77,0,0,11,38,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,14,14,0,0,9,87,0
NaN,0,NaN,3,0.0,28.229170,0.0,-7.932672,26,26,0,1,162,1178,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,48,48,0,0,39,139,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,38,38,0,0,26,117,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,70,70,0,0,171,506,0
NaN,0,NaN,2,0.0,8.541667,0.0,-14.237070,18,18,0,1,-1,3,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,71,71,0,0,63,254,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,185,185,0,0,184,1358,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,95,95,0,0,164,2462,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,134,134,0,0,174,499,0
NaN,0,NaN,10,0.0,7.101852,0.0,3.137754,3,3,0,1,103,255,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,109,109,0,0,143,808,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,57,57,0,0,164,1912,0
NaN,0,NaN,2,0.0,131.083300,0.0,34.678500,30,30,0,1,30,214,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,181,181,0,0,22,125,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,69,69,0,0,95,187,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,119,119,0,0,103,1338,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,37,37,0,0,1,22,0
NaN,0,NaN,3,0.0,30.979170,0.0,12.621240,8,8,0,1,168,2080,0
NaN,0,NaN,2,0.0,1.041667,0.0,-0.916713,1,1,0,1,1,15,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,20,20,0,0,132,556,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,180,180,0,0,71,400,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,185,185,0,0,77,401,0

2\. Write a Python function called `getDfSummary()` that does the following:
- Takes as input a data frame
- For each variable in the data frame calculates the following features:
  - `number_nan` to count the number of missing not-a-number values
  - Ignoring missing, NA, and Null values:
    - `number_distinct` to count the number of distinct values a variable can take on
    - `mean`, `max`, `min`, `std` (standard deviation), and `25%`, `50%`, `75%` to correspond to the appropriate percentiles
- All of these new features should be loaded in a new data frame. Each row of the data frame should be a variable from the input data frame, and the columns should be the new summary features.
- Returns this new data frame containing all of the summary information

Hint: The pandas `describe()` [(manual page)](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.describe.html) method returns a useful series of values that can be used here.

In [19]:
col = ads.columns
ads.index = range(len(ads))
def getDfSummary(input_data_frame):
    number_nan=[] 
    number_distinct=[] 
    for i in col:
        na_n=0
        na_n=sum(pd.isnull(ads[i].values))
        number_nan.append(na_n)
        dst_n=len(ads.groupby(i).visit_freq)
        number_distinct.append(dst_n)
    summary=ads.describe()
    summary=summary.T
    summary['number_nan']=number_nan
    summary['number_distinct']=number_distinct
    summary = summary
    return summary
getDfSummary(ads)

,count,mean,std,min,25%,50%,75%,max,number_nan,number_distinct
isbuyer,54584.0,0.042632,0.202027,0.0000,0.0,0.0,0.000000,1.00000,0,2
buy_freq,2327.0,1.240653,0.782228,1.0000,1.0,1.0,1.000000,15.00000,52257,10
visit_freq,54584.0,1.852777,2.921820,0.0000,1.0,1.0,2.000000,84.00000,0,64
buy_interval,54584.0,0.210008,3.922016,0.0000,0.0,0.0,0.000000,174.62500,0,295
sv_interval,54584.0,5.825610,17.595442,0.0000,0.0,0.0,0.104167,184.91670,0,5886
expected_time_buy,54584.0,-0.198040,4.997792,-181.9238,0.0,0.0,0.000000,84.28571,0,348
expected_time_visit,54584.0,-10.210786,31.879722,-187.6156,0.0,0.0,0.000000,91.40192,0,15135
last_buy,54584.0,64.729335,53.476658,0.0000,18.0,51.0,105.000000,188.00000,0,189
last_visit,54584.0,64.729335,53.476658,0.0000,18.0,51.0,105.000000,188.00000,0,189
multiple_buy,54584.0,0.006357,0.079479,0.0000,0.0,0.0,0.000000,1.00000,0,2
multiple_visit,54584.0,0.277444,0.447742,0.0000,0.0,0.0,1.000000,1.00000,0,2
uniq_urls,54584.0,86.569343,61.969765,-1.0000,30.0,75.0,155.000000,206.00000,0,207
num_checkins,54584.0,720.657592,1275.727306,1.0000,127.0,319.0,802.000000,37091.00000,0,4628
y_buy,54584.0,0.004635,0.067924,0.0000,0.0,0.0,0.000000,1.00000,0,2

3\. How long does it take for your `getDfSummary()` function to work on your `ads` data frame? Show us the results below.

Hint: `%timeit getDfSummary(ads)`

In [22]:
%timeit getDfSummary(ads)

1 loop, best of 3: 1.25 s per loop

4\. Using the results returned from `getDfSummary()`, which fields, if any, contain missing `NaN` values?

In [39]:
# Place your code here
#http://stackoverflow.com/questions/14247586/python-pandas-how-to-select-rows-with-one-or-more-nulls-from-a-dataframe-without
result=ads[ads.isnull().any(axis=1)]
getDfSummary(result)

,count,mean,std,min,25%,50%,75%,max,number_nan,number_distinct
isbuyer,54584.0,0.042632,0.202027,0.0000,0.0,0.0,0.000000,1.00000,0,2
buy_freq,2327.0,1.240653,0.782228,1.0000,1.0,1.0,1.000000,15.00000,52257,10
visit_freq,54584.0,1.852777,2.921820,0.0000,1.0,1.0,2.000000,84.00000,0,64
buy_interval,54584.0,0.210008,3.922016,0.0000,0.0,0.0,0.000000,174.62500,0,295
sv_interval,54584.0,5.825610,17.595442,0.0000,0.0,0.0,0.104167,184.91670,0,5886
expected_time_buy,54584.0,-0.198040,4.997792,-181.9238,0.0,0.0,0.000000,84.28571,0,348
expected_time_visit,54584.0,-10.210786,31.879722,-187.6156,0.0,0.0,0.000000,91.40192,0,15135
last_buy,54584.0,64.729335,53.476658,0.0000,18.0,51.0,105.000000,188.00000,0,189
last_visit,54584.0,64.729335,53.476658,0.0000,18.0,51.0,105.000000,188.00000,0,189
multiple_buy,54584.0,0.006357,0.079479,0.0000,0.0,0.0,0.000000,1.00000,0,2
multiple_visit,54584.0,0.277444,0.447742,0.0000,0.0,0.0,1.000000,1.00000,0,2
uniq_urls,54584.0,86.569343,61.969765,-1.0000,30.0,75.0,155.000000,206.00000,0,207
num_checkins,54584.0,720.657592,1275.727306,1.0000,127.0,319.0,802.000000,37091.00000,0,4628
y_buy,54584.0,0.004635,0.067924,0.0000,0.0,0.0,0.000000,1.00000,0,2

5\. For the fields with missing values, does it look like the data is missing at random? Are there any other fields that correlate perfectly, or predict that the data is missing? If missing, what should the data value be?

Hint: create another data frame that has just the records with a missing value. Get a summary of this data frame using `getDfSummary()` and compare the differences. Do some feature distributions change dramatically?

In [43]:
# Place your code here
ne = (getDfSummary(ads) != getDfSummary(result)).any()
getDfSummary(ne)

,count,mean,std,min,25%,50%,75%,max,number_nan,number_distinct
isbuyer,54584.0,0.042632,0.202027,0.0000,0.0,0.0,0.000000,1.00000,0,2
buy_freq,2327.0,1.240653,0.782228,1.0000,1.0,1.0,1.000000,15.00000,52257,10
visit_freq,54584.0,1.852777,2.921820,0.0000,1.0,1.0,2.000000,84.00000,0,64
buy_interval,54584.0,0.210008,3.922016,0.0000,0.0,0.0,0.000000,174.62500,0,295
sv_interval,54584.0,5.825610,17.595442,0.0000,0.0,0.0,0.104167,184.91670,0,5886
expected_time_buy,54584.0,-0.198040,4.997792,-181.9238,0.0,0.0,0.000000,84.28571,0,348
expected_time_visit,54584.0,-10.210786,31.879722,-187.6156,0.0,0.0,0.000000,91.40192,0,15135
last_buy,54584.0,64.729335,53.476658,0.0000,18.0,51.0,105.000000,188.00000,0,189
last_visit,54584.0,64.729335,53.476658,0.0000,18.0,51.0,105.000000,188.00000,0,189
multiple_buy,54584.0,0.006357,0.079479,0.0000,0.0,0.0,0.000000,1.00000,0,2
multiple_visit,54584.0,0.277444,0.447742,0.0000,0.0,0.0,1.000000,1.00000,0,2
uniq_urls,54584.0,86.569343,61.969765,-1.0000,30.0,75.0,155.000000,206.00000,0,207
num_checkins,54584.0,720.657592,1275.727306,1.0000,127.0,319.0,802.000000,37091.00000,0,4628
y_buy,54584.0,0.004635,0.067924,0.0000,0.0,0.0,0.000000,1.00000,0,2

6\. Which variables are binary?

In [42]:
# Place your code here

Binary variables are those which can take only two values.
Here multiple_visit is binary.

SyntaxError: invalid syntax (<ipython-input-42-eaed84d5469d>, line 3)